
.g-header {
  padding: 0 20px;
  width: 100%;
  height: 45px;
  background: #202329;
  color: #999999;
  line-height: 45px;
  user-select: none;

  .m-logo {
    height: 41px;
    padding: 2px 0;
    display: inline-block;

    .inner {
      display: inline-block;
      height: 41px;
    }
  }

  .m-nav {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    height: 45px;
    margin-left: 20px;

    .item {
      display: inline-block;
      padding: 0 15px;
      font-size: 18px;
      color: #aaaaaa;
      cursor: pointer;
      transition: all 350ms;

      &:hover {
        color: #efefef;
        background: #999999;
      }
    }
  }
}
