
.g-main {
  color: #aaaaaa;
  text-align: center;
  font-size: 30px;
  height: 100%;
  background: #00416b;
  position: relative;

  .g-lower {
    position: absolute;
    width: 70%;
    height: 100px;
    bottom: 20px;
    left: 20px;
  }

  .g-aside {
    position: absolute;
    width: 26%;
    height: 94%;
    bottom: 20px;
    right: 20px;
  }

  .g-lower, .g-aside {
    cursor: pointer;
    border: 2px dashed #0073b0;
    border-radius: 5px;
    transition: all 200ms;

    &:hover {
      border: 2px solid #9b9b00;
    }
  }
}
