
.g-main {
  height: 100%;
  background: #00314b;
  color: #eeeeee;
  display: flex;

  .g-left {
    flex: 0 0 55%;
    position: relative;

    .m-kw {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #d6d6d6;
      font-size: 18px;
      z-index: 5;
    }

    .m-count {
      position: absolute;
      top: 60px;
      left: 20px;
      color: white;
      font-size: 20px;
      z-index: 5;

      .m-count-inner {
        color: yellow;
      }
    }
  }

  .g-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 20px;
    overflow: auto;

    .m-resultitem {
      cursor: pointer;
      padding: 10px 30px;
      width: 100%;
      height: 120px;
      border: 1px dashed #0073b0;
      border-radius: 3px;
      transition: all 200ms;
      position: relative;

      &:hover {
        border: 1px solid #9b9b00;
      }

      & + .m-resultitem {
        margin-top: 10px;
      }

      & > p {
        color: yellow;
        font-size: 20px;
      }

      & > span {
        font-size: 14px;
        line-height: 16px;
      }

      .m-counttag {
        display: inline-block;
        padding: 5px;
        color: #c8c800;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        top: 10px;
        right: 18px;
      }
    }

    .m-pages {
      text-align: center;
      margin-top: 30px;
    }
  }
}
