
.g-main {
  height: 100%;
  background: #00314b;
  color: #eeeeee;
  display: flex;
  flex-direction: column;

  .g-upper {
    height: 300px;
    position: relative;

    .m-export {
      position: absolute;
      right: 120px;
      bottom: 20px;
    }

    .m-back {
      position: absolute;
      left: 120px;
      bottom: 20px;
    }
  }

  .g-lower {
    padding: 35px 100px;
    min-height: calc(100vh - 370px);
    overflow: auto;
    display: flex;

    .g-left, .g-right, .g-aside {
      flex: 40%;
      margin: 20px;
      border: 1px dotted #0073b0;
      border-radius: 3px;
      padding: 20px;
      transition: all 200ms;

      &:hover {
        border: 1px solid #9b9b00;
      }

      & > h2 {
        color: yellow;
        margin-bottom: 20px;
      }

      & > p {
        font-size: 16px;
      }
    }

    .g-right {
      margin-left: 10px;
    }

    .g-aside {
      flex: 30%;
    }
  }
}
